/*
 ----------------------------------------------------
|                 font 나눔고딕 적용                    |
 ----------------------------------------------------
*/

/* 나눔 고딕 normal */
@font-face {
  font-family:'NanumGothic';
  src: url('font/NanumGothic.eot');
  src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
  url('font/NanumGothic.woff') format('woff'),
  url('font/NanumGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Space out content a bit */
body { margin-top: 45px; color: #535353; font-family:'나눔고딕','NanumGothic', 'MalgunGothic';}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .footer { padding-left: 15px; padding-right: 15px; }
/* Custom page header */
.header { border-bottom: 1px solid #e5e5e5; }
/* Make the masthead heading the same height as the navigation */
.header h3 { margin-top: 0; margin-bottom: 0; line-height: 40px; padding-bottom: 19px; }
/* Custom page footer */
.footer { padding-top: 19px; color: #777; border-top: 1px solid #e5e5e5; }
/* Responsive: Portrait mobile 및 768px 보다 작은 기기들은 미디어 쿼리 없이 모바일 기준 */

/*
 --------------------------------------------------------------------------------------------------
|        Responsive: Portrait mobile 및 768px 보다 작은 기기들은 미디어 쿼리 없이 모바일 기준 (default)       |
 --------------------------------------------------------------------------------------------------
*/
.navbar-default {border-color:#ccc}
#header { border-top: 5px solid #e60617;background-color: #fff; }
#header .logo {  }
#header .logo a { display: block;}
#header .logo img { width: 100%; height: auto; display: block;}
#header .dropdown-menu li { position: relative; }
#m_visual { }
#m_visual .container { padding: 0; width: 100%; }
#m_visual .visual { padding-left: 20px; }
#m_visual .visual img { width: 100%; height: auto; }

.dropdown-menu > li > a,
.navbar-nav .open .dropdown-menu > li > a:hover { background: url("../images/menu_dotted.png") no-repeat 0 50% !important;  }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {color:#E60617; text-decoration: underline; background-color: none;}

/*
 ----------------------------------------------------
|  Responsive: Portrait mobile 및 768px 보다 작은 기기   |
 ----------------------------------------------------
*/
@media (max-width: 767px) {
  #header .logo { margin: 10px 15px; }
  #header .logo a { width: 80px; height: 20px; }
  .navbar { min-height: 45px;}
  .navbar-nav { margin: -1px -15px;}
  .navbar-default .navbar-toggle {border-radius:0; border-color: transparent !important; padding: 0; margin-top: 10px;}
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: transparent;}
  .navbar-default .navbar-toggle .icon-bar { background-color: #484d55;}
  .navbar-nav > li > a { padding-top: 5px; padding-bottom: 5px; font-weight: bold;}
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {background-color:#ececec !important}
  .navbar-default .navbar-nav > li > a { font-size: 14px; color: #000; background-color: #f6f6f6; border-bottom: 1px solid #ccc !important;}
  .navbar-default .navbar-nav > .open { }
  .navbar-default .navbar-nav > .open > a { color: #df2428 !important}
  .navbar-default .navbar-nav > .open > a:focus { background-color: #ececec;}
  .navbar-nav .open .dropdown-menu {border-bottom:1px solid #ccc}
  .navbar-nav .open .dropdown-menu > li > a:hover { }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a { font-size: 12px; color: #666; padding: 4px 10px;}
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { color:#000; background: #fff; }
  #header .dropdown-menu > li { margin-left: 30px;}


  /* main 바로가기 리스트 */
  #main-list .tablet-up { display: none;}
  #main-list .col-sm-4 { padding-left: 0; padding-right: 0;}
  #main-list .col-sm-4 .mobile-list { border-top: 1px solid #e3e3e3; background: url("../images/m_arr.png") no-repeat 95% 50%;background-size:25px auto }
  #main-list .mobile-list { padding: 20px 15px;}
  #main-list .mobile-list a { text-decoration: none; }
  #main-list .col-sm-4 .mobile-list > a .sm-bg { }
  #main-list .col-sm-4 .mobile-list > a .sm-bg img { width: 100%;height: auto; min-width: 80px; max-width:140px; min-height: 45px; }
  #main-list .col-sm-4 .mobile-list + .mobile-list > a .sm-bg img {}
  #main-list .col-sm-4 .mobile-list + .mobile-list + .mobile-list > a .sm-bg img {max-width:140px; min-height: 40px;}
  #main-list .mobile-list a h4 { font-size: 13px; color: #323232; font-weight: bold;}
  #main-list .mobile-list a p { font-size: 11px; color: #666; font-weight: bold;}
  #main-list .mobile-list .row .col-xs-9 { padding-right: 70px; }
}


/*
 ----------------------------------------------------
|        Responsive: Portrait tablets and up         |
 ----------------------------------------------------
*/
@media screen and (min-width: 768px) {
  body { margin-top: 115px }
  .navbar-toggle { display: none }
  /* Remove the padding we set earlier */
  .header, .marketing, .footer { padding-left: 0; padding-right: 0; }
  /* Space out the masthead */
  .header { margin-bottom: 30px; }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron { border-bottom: 0; }
  #header { padding-left: 30px; padding-right: 30px; }
  #header .container { width: 100%; margin: 0 auto;padding: 0; }
  #header .logo { width: 171px; height: 30px; margin-top: 40px; margin-bottom: 40px; }

  .navbar-default .navbar-nav > li > a { color: #000; font-size: 22px; line-height: 1; font-weight: bold;}
  /* dropdown menu redefine */
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { font-weight: bold; color: red; background-color: transparent; }
  .navbar-nav { float: right; }
  .dropdown-menu { position: fixed; top: 100%; min-width: 100%;border-radius:0; border-bottom: 1px solid #f27e83; box-shadow: 0 5px 5px rgba(0,0,0,.25);opacity: .8;  }
  .dropdown-menu li { float: left; margin: 10px 0 10px 20px; }
  .dropdown-menu > li > a {padding: 3px 10px 3px 10px;  }
  .dropdown-menu > li:first-child > a { padding-right: 0;}
  #header .navbar-nav { margin-top: 30px; margin-bottom: 10px; }
  #header .navbar-nav > li > a { margin-right: 20px; }
  #header .navbar-nav > li.last > a { margin-right: 0; padding-right: 0; }
  #m_visual { padding-left: 30px;  }

  /* main 바로가기 리스트 */
  #main-list .row .col-sm-4 { padding-top: 40px; border-left:1px solid #dbdbdb}
  #main-list .row .col-sm-4:first-child {border-left:none}
  #main-list h4 { font-weight: bold;font-size: 20px; color:#323232}
  #main-list p { font-size: 14px; font-weight: bold; color:#666}
  #main-list p a { display: inline-block; margin-top: 25px; }
  #main-list p a img { display: block; width: 100%; height: auto; }
  #main-list .mobile-list { display: none;}

}

/*
 ----------------------------------------------------
|      Responsive: Portrait Desktop, 992px 이상       |
 ----------------------------------------------------
*/
@media screen and (min-width: 992px) {
  body { margin-top: 91px }
  #header .container, .container, #m_visual .container { width: 1000px; margin: 0 auto; }
  #header .logo { width: 201px; height: 37px; margin: 24px 105px 24px 0; }
  #header .navbar-nav { margin-top: 23px; margin-bottom: 10px; }
  #header .navbar-nav > li > a { margin-right: 65px; }
  #header .navbar-nav > li.last > a { margin-right: 47px; }
  #m_visual { padding-right: 30px; }
  #m_visual .visual { padding-left: 0; }
}

/*
 ----------------------------------------------------
|                   main banner                      |
 ----------------------------------------------------
*/
#banner-wrap { width: 100%; border-top:1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4;}
#banner-wrap .main-banner { overflow: hidden; background: #f4f4f4;}
#banner-wrap .vender { float: left;}
#banner-wrap .vender img{ display: none;}
#banner-wrap .main-banner .banner-list { overflow: hidden;}
#banner-wrap .main-banner ul {list-style: none; width: 100%; padding: 0; margin: 0; float: left;}
#banner-wrap .main-banner ul li { display: inline-block; width: 20%; float: left; padding-top: 25px; }
#banner-wrap .main-banner ul li a { display: block; text-align: center;}

@media screen and (max-width: 767px) {
  #banner-wrap .main-banner ul li { padding-top: 15px;padding-bottom: 15px;}
  #banner-wrap .main-banner ul li img {zoom: .6}

}
@media screen and (min-width: 768px) {
  #banner-wrap .main-banner { width: 100%;}
  #banner-wrap .main-banner ul li { min-height: 98px; padding-top: 25px;}
}

@media screen and (min-width: 992px) {
  #banner-wrap {background: #666;}
  #banner-wrap .main-banner { width: 1000px; margin: 0 auto;}
  #banner-wrap .vender img{ display: block;}
  #banner-wrap .main-banner ul li {}
}

/*
 ----------------------------------------------------
|                       common                       |
 ----------------------------------------------------
*/
body > a.sr-only { background-color: #000; color: #fff; text-align: center; display: block; padding: 10px; }
.sub-visual { border: 1px solid #ccc; border-width: 1px 0; height: 184px; background: #fff url(../images/sub-visual.png) 50% 0 no-repeat; }
.sub-visual h3 { font-size: 40px; margin-top: 40px; color: #000; }
.sub-visual p { font-size: 16px; }
.table-header { margin-bottom: 10px; }
.table-footer { text-align: center; margin-left: auto; margin-right: auto; }
.table { border-top: 2px solid #d5001e; border-bottom: 1px solid #ddd; }
.table th { text-align: center; background-color: #f6f6f6; border-bottom-width: 1px !important; }
#body:focus { outline: none; }
#body > div { padding-top: 50px; padding-bottom: 70px; }
#body > div h1 { margin-bottom: 20px; }
#body h1 { font-size: 30px; margin-top: 0; color: #000; }
#body h2 { font-size: 20px; background: url(../images/ico-h2.png) 0 50% no-repeat; text-indent: 20px; color: #000; }
#body h3 { font-size: 16px; color: #000; }
@media (max-width: 767px) {
  [class*='col-xs'] img { width: 100%; }
}
.w100 { width: 100%; }
/*
 ----------------------------------------------------
|                      sidebar                       |
 ----------------------------------------------------
*/
.sidebar { position: fixed; width: 200px; z-index: 100; left: 50%; margin-top: 240px; margin-left: 580px; }
.sidebar li { list-style-type: none; }
.sidebar li span { width: 15px; height: 15px; border-radius: 50%; border: 2px solid transparent; background-color: #bfbfbf; display: inline-block; }
.sidebar li.active span { border-color: #e60617; background-color: transparent; }
.sidebar li div { visibility: hidden; }
.sidebar li.active div, .sidebar li:hover div, .sidebar li:focus div { visibility: visible !important; }
.sidebar li.top span { background: transparent url(../images/ico-top.png) 0 0 no-repeat; border: none; }
.sidebar .nav > li > a { padding-top: 2px; padding-bottom: 2px; padding-left: 0; }
.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus { background-color: transparent; }
.tooltip { margin-top: -2px; }

/*
 ----------------------------------------------------
|                      회사소개                        |
 ----------------------------------------------------
*/
#ceo, #ci { background-color: #f7f7f7; }
#ceo .row > div + div img { width: 100%; }
#vision .row { margin-top: 70px; }
#vision .row img { float: left; }
#vision img { width: 100%; }
#ci .row { margin-top: 45px; }
.address p { margin-bottom: 20px; }
.address img { margin-right: 10px; }

/*
 ----------------------------------------------------
|                      사업소개                        |
 ----------------------------------------------------
*/
#mmobile .service { padding: 20px; }
#mmobile .service > div { border: 2px solid #ececec; padding: 20px; width: 48.8%; }
@media (max-width: 1023px) {
  #mmobile .service > div { border: 2px solid #ececec; padding: 20px; width: 100%; }
}
#mmobile .service > div:first-child { margin-right: 20px; }
#mmobile .service h3 { font-size: 18px; font-weight: bold; margin-top: 0; }
#mmobile .service ul { padding-left: 0; list-style-type: none; word-spacing: -1px }
#mmobile .service li { margin-top: 20px; background: url(../images/ico-li2.png) 0 6px no-repeat; padding-left: 12px; }
#mmobile .phone { padding-left: 22px; margin-top: 20px; background: url(../images/ico-tel.png) 0 0 no-repeat; }
#mmobile tbody th { background-color: transparent; text-align: left; }
#mmobile th + th, #mmobile td { border-left: 1px solid #ddd; }
#mmobile th, #mmobile td { padding-left: 20px; }
#brand { background-color: #f4f4f4; }
#brand .value { margin-top: 50px; margin-bottom: 30px; }
#brand .value h3 { font-size: 20px; }
#brand .value ul { font-size: 16px; padding-left: 0; list-style-type: none; }
#brand .value li { padding-left: 12px; background: url(../images/ico-li3.png) 0 8px no-repeat; margin-top: 10px; }
#brand .value li span { color: #000; }
@media (max-width: 767px) {
  #brand img { width: 100%; }
}
#join .container > img { display: block; margin-top: 35px; margin-bottom: 50px; }
#join h3 { font-size: 16px; margin-top: 40px; margin-bottom: 20px; }
#join h3 span { background-color: #e60617; color: #fff; padding: 0 6px; border-radius: 4px; margin-right: 10px; font-weight: normal; }
#join h4 { margin-top: 40px; clear: both; float: none; background: #666 url(../images/ico-h4.png) 8px 6px no-repeat; display: inline-block; color: #fff; padding: 4px 10px 4px 20px; font-size: 14px; font-weight: normal; }
#join h3 + h4 { margin-top: 0; }

/*
 ----------------------------------------------------
|                      인재채용                        |
 ----------------------------------------------------
*/
#rightpeople h3 { font-size: 30px; }
#rightpeople h3 span { font-size: 20px; color: #e60617; display: block; margin-bottom: 20px; }
#rightpeople .container > .row > div + div { border-left: 1px solid #e6e6e6; }
@media (max-width: 767px) {
  #rightpeople .container > .row > div + div { border: none; }
  #rightpeople .row { border-bottom: 1px solid #e6e6e6; }
}
#rightpeople ul { padding-left: 20px; margin-top: 40px; margin-bottom: 70px; font-size: 15px; }
#system { background-color: #f4f4f4; }
#system .row { padding-top: 35px; padding-bottom: 35px; font-size: 14px; }
#system .row + .row { border-top: 1px solid #e6e6e6; }
#system h3 { font-size: 20px; margin-top: 0; margin-bottom: 30px; }
#system h3 span { padding-right: 10px; }
#system .col-md-9 { margin-left: -50px; }
#welfare .row { padding-top: 35px; padding-bottom: 35px; font-size: 14px; }
#welfare .row + .row { border-top: 1px solid #e6e6e6; }
#welfare h3 { font-size: 20px; margin-top: 0; margin-bottom: 30px; }
#welfare ul { padding-left: 20px; }
#welfare .col-md-9 { margin-left: -50px; }

/*
 ----------------------------------------------------
|                      홍보채널                        |
 ----------------------------------------------------
*/
#press, #advertising { background-color: #f4f4f4; }
#advertising .list .thumbnail { margin-bottom: 10px; }
#advertising .list p { text-align: center; margin-bottom: 40px; }


