/*
 ----------------------------------------------------
|                 font 나눔고딕 적용                    |
 ----------------------------------------------------
*/

/* 나눔 고딕 normal */
@font-face {
  font-family:'NanumGothic';
  src: url('font/NanumGothic.eot');
  src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
  url('font/NanumGothic.woff') format('woff'),
  url('font/NanumGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* 나눔 고딕 bold */
/*@font-face {
  font-family:'NanumGothicBold';
  src: url('font/NanumGothicBold.eot');
  src: url('font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
  url('font/NanumGothicBold.woff') format('woff'),
  url('font/NanumGothicBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}*/

/* Space out content a bit */
body { margin-top: 50px; color: #535353; font-family:'나눔고딕','NanumGothic', 'MalgunGothic'; }
/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .footer { padding-left: 15px; padding-right: 15px; }
/* Custom page header */
.header { border-bottom: 1px solid #e5e5e5; }
/* Make the masthead heading the same height as the navigation */
.header h3 { margin-top: 0; margin-bottom: 0; line-height: 40px; padding-bottom: 19px; }
/* Custom page footer */
.footer { padding-top: 19px; color: #777; border-top: 1px solid #e5e5e5; }
/* Responsive: Portrait mobile 및 768px 보다 작은 기기들은 미디어 쿼리 없이 모바일 기준 */

/*
 ------------------------------------------------------------------------------------------
|        Responsive: Portrait mobile 및 768px 보다 작은 기기들은 미디어 쿼리 없이 모바일 기준         |
 ------------------------------------------------------------------------------------------
*/
#header .logo { width: 20px; height: 20px; }
#header { border-top: 5px solid #e60617; }
#header .container { margin: 0 auto; padding-left: 0; }
#header .logo img { width: 100%; height: auto; }
#header .logo a { display: block; }
.dropdown-menu li { position: relative; }
#m_visual { }
#m_visual .container { padding: 0; width: 100%; }
#m_visual .visual { padding-left: 20px; }
#m_visual .visual img { width: 100%; height: auto; }
/* Responsive: Portrait mobile 및 768px 보다 작은 기기 */
@media (max-width: 767px) {
  /*.collapse { display: none;}*/
}


/*
 ----------------------------------------------------
|        Responsive: Portrait tablets and up         |
 ----------------------------------------------------
*/
@media screen and (min-width: 768px) {
  body { margin-top: 115px }
  .navbar-toggle { display: none }
  /* Remove the padding we set earlier */
  .header, .marketing, .footer { padding-left: 0; padding-right: 0; }
  /* Space out the masthead */
  .header { margin-bottom: 30px; }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron { border-bottom: 0; }
  #header { padding-left: 30px; padding-right: 30px; }
  #header .container { width: 100%; padding: 0; }
  #header .logo { width: 171px; height: 30px; margin-top: 40px; margin-bottom: 40px; }
  .navbar-default .navbar-nav > li > a { color: #000; font-size: 22px; line-height: 1; }
  /* dropdown menu redefine */
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { font-weight: bold; color: red; background-color: transparent; }
  .navbar-nav { float: right; }
  .dropdown-menu { position: fixed; top: 100%; min-width: 100%; }
  .dropdown-menu li { float: left; }
  #header .navbar-nav { margin-top: 30px; margin-bottom: 10px; }
  #header .navbar-nav > li > a { margin-right: 20px; }
  #header .navbar-nav > li.last > a { margin-right: 0; padding-right: 0; }
  #m_visual { padding-left: 30px; padding-right: 30px; }
}

/*
 ----------------------------------------------------
|      Responsive: Portrait Desktop, 992px 이상       |
 ----------------------------------------------------
*/
@media screen and (min-width: 992px) {
  body { margin-top: 91px }
  #header .container, .container, #m_visual .container { width: 1000px; margin: 0 auto; }
  #header .logo { width: 201px; height: 37px; margin: 24px 105px 24px 0; }
  #header .navbar-nav { margin-top: 23px; margin-bottom: 10px; }
  #header .navbar-nav > li > a { margin-right: 68px; }
  #header .navbar-nav > li.last > a { margin-right: 47px; }
  #m_visual .visual { padding-left: 0; }
}
/*
 ----------------------------------------------------
|                       common                       |
 ----------------------------------------------------
*/
body > a.sr-only { background-color: #000; color: #fff; text-align: center; display: block; padding: 10px; }
.sub-visual { border: 1px solid #ccc; border-width: 1px 0; height: 184px; background: #fff url(../images/sub-visual.png) 50% 0 no-repeat; }
.sub-visual h3 { font-size: 40px; margin-top: 40px; color: #000; }
.sub-visual p { font-size: 16px; }
.table { border-top: 2px solid #d5001e; border-bottom: 1px solid #ddd; }
.table th { text-align: center; background-color: #f6f6f6; border-bottom-width: 1px !important; }
#body:focus { outline: none; }
#body > div { padding-top: 50px; padding-bottom: 70px; }
#body > div h1 { margin-bottom: 20px; }
#body h1 { font-size: 30px; margin-top: 0; color: #000; font-weight: 600; }
#body h2 { font-size: 20px; background: url(../images/ico-h2.png) 0 50% no-repeat; text-indent: 20px; color: #000; }
#body h3 { font-size: 16px; color: #000; font-weight: 600; }
@media (max-width: 767px) {
  [class*='col-xs'] img { width: 100%; }
}
.w100 { width: 100%; }
.mgt50 { margin-top: 50px !important;}
.initialism { color: #999;}
.initialism strong { color: #000; font-weight: normal;}
.glyphicon.first { background: url(../images/ico-first.png) 0 0 no-repeat; width: 10px; height: 10px; }
.glyphicon.last { background: url(../images/ico-last.png) 0 0 no-repeat; width: 10px; height: 10px; }
.glyphicon.prev { background: url(../images/ico-prev.png) 3px 0 no-repeat; width: 10px; height: 10px; }
.glyphicon.next { background: url(../images/ico-next.png) 3px 0 no-repeat; width: 10px; height: 10px; }
/*
 ----------------------------------------------------
|                      sidebar                       |
 ----------------------------------------------------
*/
.sidebar { position: fixed; width: 200px; z-index: 100; left: 50%; margin-top: 240px; margin-left: 580px; }
.sidebar li { list-style-type: none; }
.sidebar li span { width: 15px; height: 15px; border-radius: 50%; border: 2px solid transparent; background-color: #bfbfbf; display: inline-block; }
.sidebar li.active span { border-color: #e60617; background-color: transparent; }
.sidebar li div { visibility: hidden; }
.sidebar li.active div, .sidebar li:hover div, .sidebar li:focus div { visibility: visible !important; }
.sidebar li.top span { background: transparent url(../images/ico-top.png) 0 0 no-repeat; border: none; }
.sidebar .nav > li > a { padding-top: 2px; padding-bottom: 2px; padding-left: 0; }
.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus { background-color: transparent; }
.tooltip { margin-top: -2px; }

/*
 ----------------------------------------------------
|                      회사소개                        |
 ----------------------------------------------------
*/
#ceo, #ci { background-color: #f7f7f7; }
#ceo .row > div + div img { width: 100%; }
#vision .row { margin-top: 70px; }
#vision .row img { float: left; }
#vision img { width: 100%; }
#ci .row { margin-top: 45px; }
.address p { margin-bottom: 20px; }
.address img { margin-right: 10px; }

/*
 ----------------------------------------------------
|                      사업소개                        |
 ----------------------------------------------------
*/
#mmobile .service { padding: 20px; }
#mmobile .service > div { border: 2px solid #ececec; padding: 20px; width: 48.8%; }
@media (max-width: 1023px) {
  #mmobile .service > div { border: 2px solid #ececec; padding: 20px; width: 100%; }
}
#mmobile .service > div:first-child { margin-right: 20px; }
#mmobile .service h3 { font-size: 18px; font-weight: bold; margin-top: 0; }
#mmobile .service ul { padding-left: 0; list-style-type: none; word-spacing: -2px; letter-spacing: -1px; }
#mmobile .service li { margin-top: 20px; background: url(../images/ico-li2.png) 0 6px no-repeat; padding-left: 12px; }
#mmobile .phone { padding-left: 22px; margin-top: 20px; background: url(../images/ico-tel.png) 0 0 no-repeat; }
#mmobile tbody th { background-color: transparent; text-align: left; }
#mmobile th + th, #mmobile td { border-left: 1px solid #ddd; }
#mmobile th, #mmobile td { padding-left: 20px; }
#brand { background-color: #f4f4f4; }
#brand .value { margin-top: 50px; margin-bottom: 30px; }
#brand .value h3 { font-size: 20px; }
#brand .value ul { font-size: 16px; padding-left: 0; list-style-type: none; }
#brand .value li { padding-left: 12px; background: url(../images/ico-li3.png) 0 8px no-repeat; margin-top: 10px; }
#brand .value li span { color: #000; }
@media (max-width: 767px) {
  #brand img { width: 100%; }
}
#join .container > img { display: block; margin-top: 35px; margin-bottom: 50px; }
#join h3 { font-size: 16px; margin-top: 40px; margin-bottom: 20px; }
#join h3 span { background-color: #e60617; color: #fff; padding: 0 6px; border-radius: 4px; margin-right: 10px; font-weight: normal; }
#join h4 { margin-top: 40px; clear: both; float: none; background: #666 url(../images/ico-h4.png) 8px 6px no-repeat; display: inline-block; color: #fff; padding: 4px 10px 4px 20px; font-size: 14px; font-weight: normal; }
#join h3 + h4 { margin-top: 0; }
#join .row{ margin-top: 40px;}
#join .btn-group { margin-top: 150px; text-align: center; display: block; }
#join .btn-group > .btn { padding: 10px 40px; border-radius: 30px; font-size: 16px; float: none;}
#join .btn-group > .btn + .btn { margin-left: 30px;}

/*
 ----------------------------------------------------
|                      인재채용                        |
 ----------------------------------------------------
*/
#rightpeople ul, #welfare ul { padding-left: 0; }
#rightpeople li, #welfare li { list-style-type: none; background: url(../images/ico-li.png) 0 9px no-repeat; padding-left: 12px; }

#rightpeople h3 { font-size: 30px; }
#rightpeople h3 span { font-size: 20px; color: #e60617; display: block; margin-bottom: 20px; }
#rightpeople .container > .row > div + div { border-left: 1px solid #e6e6e6; }
#rightpeople ul { margin: 40px 0; font-size: 15px; }
#rightpeople img { margin-top: 40px;}
#system { background-color: #f4f4f4; }
#system .row { padding-top: 35px; padding-bottom: 35px; font-size: 14px; }
#system .row + .row { border-top: 1px solid #e6e6e6; }
#system h3 { font-size: 20px; margin-top: 0; margin-bottom: 30px; }
#system h3 span { padding-right: 10px; }
#system .col-xs-9 { margin-left: -50px; }
#welfare .row { padding-top: 35px; padding-bottom: 35px; font-size: 14px; }
#welfare .row + .row { border-top: 1px solid #e6e6e6; }
#welfare h3 { font-size: 20px; margin-top: 0; margin-bottom: 30px; }
#welfare .col-xs-9 { margin-left: -50px; }

@media (max-width: 767px) {
    #rightpeople .container > .row > div + div { border: none; }
    #rightpeople .row { border-bottom: 1px solid #e6e6e6; }
    #rightpeople .col-xs-4 { text-align: center; }
    #rightpeople img { width: 100%; }
    #system .col-xs-9 { margin-left:0; }
    #welfare .col-xs-9 { margin-left:0; }
}

/*
 ----------------------------------------------------
|                      홍보채널                        |
 ----------------------------------------------------
*/
#press, #advertising { background-color: #f4f4f4; }
#advertising .list .thumbnail { margin-bottom: 10px; }
#advertising .list p { text-align: center; margin-bottom: 40px; }
#notice .table td:first-child, #notice .table td:last-child { text-align: right; padding-right: 4%; }
#notice .table td:nth-child(3) { text-align: center; }
#press .table td:first-child, #press .table td:last-child { text-align: right; padding-right: 4%; }
#press .table td:nth-child(3) { text-align: center; }
.table-header { margin-bottom: 10px; }
.table-header .btn-default { background-color: #959595; border-color: transparent; color: #fff; margin-left: -4px; }
.table-footer { text-align: center; margin-left: auto; margin-right: auto; }


